# configure the fuck
eval $(thefuck --alias)

# custom for bash
alias mkcd='_(){ mkdir -p $1; cd $1; }; _'

# add default aliases
{% for alias in __system__shell_default_aliases %}
# {{ alias.comment }}
alias {{ alias.alias }}="{{ alias.command }}"
{% endfor %}

# add custom aliases
{% for alias in __system__shell_aliases %}
# {{ alias.comment }}
alias {{ alias.alias }}="{{ alias.command }}"
{% endfor %}
