# configure the fuck
eval (thefuck --alias | tr '
' ';')

# Load global profile fish
for fsh in (ls /etc/profile.d/*.fish ^ /dev/null) #it doesn't matter if it doesn't exist
	source $fsh
end

# custom for fish
function mkcd --description 'runs mkdir, and then cd'
	mkdir -p $argv
	cd $argv
end

# add default aliases
{% for alias in __system__shell_default_aliases %}
# {{ alias.comment }}
alias {{ alias.alias }}="{{ alias.command }}"
{% endfor %}

# add custom aliases
{% for alias in __system__shell_aliases %}
# {{ alias.comment }}
alias {{ alias.alias }}="{{ alias.command }}"
{% endfor %}
